.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.rowRegisterWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: fit-content;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.wrapper {
    width: 420px;
    min-height: 400px;
    background: white;
    color: black;
    border-radius: 0 20px 20px 0;
    padding:  30px 40px;
}

.logoRegisterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    min-height: 556px;
    background: #004da9;
    color: black;
    border-radius: 20px 0 0 20px;
    padding:  30px 40px;
}

.logoRegisterWrapper img{
    width: 300px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputBox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 20px;
    padding: 20px 45px 20px 20px;
    color: black;
}

.inputBox input::placeholder {
    color: rgba(58, 58, 58, 0.616);
}

.inputBox .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: #004da9;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.wrapper .register {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register a:hover {
    text-decoration: underline;
}